
<head>
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>小度</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  Styles  -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />


</head>




  <div class="main-container" id="main-container">
    <nav class="nav">
      <div class="nav__container">
        <a href="/" class="nav__logo">🔍小度</a>
        <p class="nav__description">Baidu search project by <a class="nav__link" href="https://kou2n.github.io" target="_blank">KoU2n</a></p>
      </div>
    </nav>

    <section class="section">


      <div class="screen screen--slide-right screen--active screen--initial" id="landing">
        <div class="landing__heading">
          <h1>百度一下</h1>
          <h3>众里寻他千百度,一蓑烟雨任平生</h3>
        </div>


        <%= form_tag({action: "index"}, method: "get",class: "form", autocomplete: "off",:remote => true) do %>

            <div class="field" id="field">

                <%= text_field_tag(:search,nil, placeholder:"想搜索什么呢?",class:"field__input") %>

        	 			<%= button_to "new",{class: 'field__submit'}  do %>
        	 			  <span class="ion-arrow-right-c"></span>
        	 			<% end %>

                <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
            </div>


        <% end %> 

            <p class="field__info">* 拒绝校园网block，第二版依然很粗糙，ajax显示结果！</p>

      </div>

      <div class="screen screen--slide-left screen--initial" id="output" >

        
      </div>

     

    </section>



  </div>

<script>



</script>




